/* Soluzione qui */

/* BONUS */

@media screen and (min-width: 576px) {

    .presentation img {
        float: left;
        margin-right: 10px;
    }

    .social-networks button {
        width: calc(100% / 5);
    }

    .recipe-video {
        height: 100%;
    }

}

/* TABLET */

@media screen and (min-width: 768px) {

    /* HEADER */

    #topbar {
        justify-content: flex-start;
    }

    .recipe-name {
        font-size: 28px;
    }

    .recipe-name::after{
        content: '(Dolce Tradizionale)';
    }

    /* MAIN */

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        width: calc(100% / 3);
        padding: 10px 30px;
    }

    .ads {
        display: inline-block;
    }

}

/* DESKTOP */

@media screen and (min-width: 992px) {

    /* HEADER */

    .recipe-name {
        font-size: 34px;
    }

    /* MAIN */

    .quick-notes ul {
        flex-direction: column;
        align-items: stretch;
    }

    .quick-notes li {
        padding: 0;
        width: 100%;
        margin: 10px 0;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 70%;
    }

    .recipe-info {
        width: 30%;
    }

    /* footer */

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    address {
        text-align: left;
    }
}